@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.active-btn{
    @apply bg-theme py-2 px-6 rounded-lg text-white
}

.inactive-btn{
    @apply border-2 border-theme text-theme py-2 px-6 rounded-lg
}

bold{
    font-weight: 700;
}


.light_btn{
    @apply p-3 bg-light_btn rounded-lg text-theme
}

.hide-scroll::-webkit-scrollbar{
    display: none;
}


@media (width < 1513px) {
    .chart-container{
        width: 100%;
    }
}